{% extends 'base.html.twig' %}


{% block main %}
    <div class="row">
        <div class="jumbotron col-md-4 col-md-offset-4">
            <h2 class="circle_list_title">Список Ваших окружностей</h2>
            <ul class="list-group">
                {% for circle in circles%}
                    <li class="list-group-item">
                        <a href="{{ path('circle_show', { 'id': circle.id }) }}">{{ circle.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p><a class="btn btn-primary btn-lg circle_list_button" href="{{ path('circle_new') }}" role="button">Создать
                    окружность</a></p>
        </div>
    </div>
{% endblock %}


{% block body %}
    <h1>Circle list</h1>
    <div>{{ user }}</div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Datecreate</th>
                <th>Dateupdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circle in circles %}
            <tr>
                <td><a href="{{ path('circle_show', { 'id': circle.id }) }}">{{ circle.id }}</a></td>
                <td>{{ circle.name }}</td>
                <td>{% if circle.dateCreate %}{{ circle.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if circle.dateUpdate %}{{ circle.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('circle_show', { 'id': circle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('circle_edit', { 'id': circle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('circle_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
