{% extends 'base.html.twig' %}

{% block main %}

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <canvas id="canvas" width="630" height="630"></canvas>
            <div>
                <a class="btn btn-primary btn-lg btn-block" id="pop_label_link" href="" style="display: none">Посмотреть заметку</a>
                <a href="{{ path('notes_new_by_circle', { 'select_circle': circle.id }) }}" id="create_label_link" class="btn btn-primary btn-lg btn-block">Добавить
                    заметку</a>
                <a href="{{ path('select_notes_list_by_circle', { 'circleId': circle.id }) }}" class="btn btn-primary btn-lg btn-block">Список заметок</a>
                <a href="{{ path('circle_edit', { 'id': circle.id }) }}" class="btn btn-default btn-lg btn-block">Редактировать
                    окружность</a>
            </div>
        </div>

    </div>

    <script>
        /*
         * Block with creating elements
         * */

        var numLayers = {{ countLayers }};
        {% for arSector in arSectors%}
            var dataSector{{ arSector.id }} = {
                id:{{ arSector.id }},
                numLayers: numLayers,
                color:'{{ arSector.color }}',
                beginAngle:{{ arSector.beginAngle }},
                endAngle:{{ arSector.endAngle }},
                name:'{{ arSector.name }}',
                circle_id: {{  circle.id }}
            };
            {#createSector(dataSector{{ arSector.id }});#}
            createSectorNew(dataSector{{ arSector.id }});
        {% endfor %}

        {% for arSector in arSectors%}
            borderForSector({{ arSector.endAngle }},{{ arSector.id }},{{ arSector.id+1 }});
        {% endfor %}


        {% for arLabel in arLabels%}
            var dataLabel{{ arLabel.id }} = {
                id:{{ arLabel.id }},
                radius:{{ arLabel.radius }},
                degr:{{ arLabel.degr }},
                name:'{{ arLabel.name }}',
                circleId:'{{ circle.id }}'
            };
            createLabel(dataLabel{{ arLabel.id }});
        {% endfor %}


        $(document).ready(function() {
            $('canvas').triggerLayerEvent('myLabel{{ selectLabel }}', 'mouseover');
            $('canvas').triggerLayerEvent('slice11', 'click');
        });


    </script>

{% endblock %}
