{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="jumbotron col-md-6 col-md-offset-3">
            <h2 style="text-align: center">Входящие</h2>
            <div id="collapseNotes" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingNotes">
                <div class="list-group">
                    <ul class="list-group">
                        {% for arNote in arNotes %}
                            <li style="background-color: #245580" class="list-group-item notes_link_by_list">
                                <a role="button" data-toggle="collapse" href="#note{{ arNote.noteId }}"
                                   aria-expanded="false"
                                   aria-controls="note{{ arNote.noteId }}">{{ arNote.noteName }}</a>
                                <a href="{{ path('notes_edit', { 'id': arNote.noteId }) }}"><i
                                            class="fa fa-pencil fa-lg"></i></a>
                                <div class="collapse collapse_note" id="note{{ arNote.noteId }}">
                                    <div class="well">
                                        {{ arNote.text }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{{ path('notes_new') }}" class="btn btn-primary btn-lg btn-block">Добавить заметку</a>
            </div>
        </div>
    </div>
{% endblock %}
